/* Foundation css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 20px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Input Form */
.contact{
  width: 40%;
  height: auto;
  left: 659px;
  top: 53px;
  background: #E5E5E5;
  box-shadow: -6px -6px 5px #FFFFFF, 6px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

input{
  font-family: 'IM Fell English', serif;
  margin-top: 20px;
  font-size: 30px;
  outline: none;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  border-color: #E5E5E5;
  background: #E5E5E5;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(201, 200, 200, 0.5), inset -4px 4px 8px rgba(201, 200, 200, 0.2), inset 4px -4px 8px rgba(201, 200, 200, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.9), inset 4px 4px 10px rgba(201, 200, 200, 0.9);
}

textarea{
  font-family: 'IM Fell English', serif;
  margin-top: 20px;
  font-size: 30px;
  width: 70%;
  outline: none;
  height: 100%;
  border-color: #E5E5E5;
  border-radius: 10px;
  background: #E5E5E5;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(201, 200, 200, 0.5), inset -4px 4px 8px rgba(201, 200, 200, 0.2), inset 4px -4px 8px rgba(201, 200, 200, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.9), inset 4px 4px 10px rgba(201, 200, 200, 0.9);
}

.btn-primary{
font-family: 'IM Fell English', serif;
margin-top: 40px;
width: 20%;
height: 86px;
outline: none;
border-color: #E5E5E5;
background: #F47805;
box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px rgba(0, 0, 0, 0.5);
border-radius: 30px;
}

/*Input Form Responsive */
@media (max-width: 768px) {
  .contact{
    width: 80%;
    height: auto;
    left: 659px;
    top: 53px;
    background: #E5E5E5;
    box-shadow: -6px -6px 5px #FFFFFF, 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }

  input{
    font-family: 'IM Fell English', serif;
    margin-top: 20px;
    font-size: 30px;
    outline: none;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border-color: #E5E5E5;
    background: #E5E5E5;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(201, 200, 200, 0.5), inset -4px 4px 8px rgba(201, 200, 200, 0.2), inset 4px -4px 8px rgba(201, 200, 200, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.9), inset 4px 4px 10px rgba(201, 200, 200, 0.9);
  }
  
  textarea{
    font-family: 'IM Fell English', serif;
    margin-top: 20px;
    font-size: 30px;
    width: 80%;
    outline: none;
    height: 100%;
    border-color: #E5E5E5;
    border-radius: 10px;
    background: #E5E5E5;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(201, 200, 200, 0.5), inset -4px 4px 8px rgba(201, 200, 200, 0.2), inset 4px -4px 8px rgba(201, 200, 200, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.9), inset 4px 4px 10px rgba(201, 200, 200, 0.9);
  }
  
  .btn-primary{
  font-family: 'IM Fell English', serif;
  margin-top: 40px;
  width: 50%;
  height: 86px;
  outline: none;
  border-color: #E5E5E5;
  background: #F47805;
  box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  }
}

/* Masonry Layout */
.masonry-container {
  width: 100%;
  margin: auto;
  height : 100%;
  margin-top: 10px;
}
.masonry-container p {
  text-align: center;
  padding: 4px;
  font-family: monospace;
  background: #222;
  color: #efefef;
}
.masonry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  margin: auto;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-grow: 1;
}
.tile {
  margin: 4px;
}
.tile img {
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .15);
  border-radius: 10px;
  width: 100%;
  opacity: 0.8;
}

.masonryTiltle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

.masonryTiltle {
  font-size: 70px;
  text-shadow: -1px 1px 0 #000, 
  1px 1px 0 #000, 
 1px -1px 0 #000, 
-1px -1px 0 #000; 
}

/*About*/
#contain {
  height:100%;/* no need  */
  margin-top: 80px;
  text-align:center;
}
#img {
  padding:40px;
  width:30%;
  min-width:350px; 
  border-radius: 10%;  
}
#p {
  width:30%;
  min-width:350px;
  display:inline-block;
  padding:10px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background-color: transparent;
  font-size: 27.5px;
}
